@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.major{
    font-size: 800;
    font-family: 'Poppins', sans-serif;
}
.content h2{
    text-decoration: underline;
}